<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel ="stylesheet" href = "order2.css">
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <title>Cabo's Grill</title>
</head>
<body style="background-color:rgb(227, 222, 165);">
  <div class = "topnav">
    <a class = "pic" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold" >Logo</a>
    <a href = "order" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold" >Order</a>
    <a href = "signin" style="font-family: Arial, Helvetica, sans-serif; font-weight:bold" >Sign In</a>
  </div>
  <div id="google_translate_element"></div>
    <script type="text/javascript"> 
        function googleTranslateElementInit() {
       new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
       }
    </script>
  <p>Welcome to Cabo Grill</p>
</body>
</html>
